body{
background-color: #f2f4f7;

}

.jumbotron {
  font-family: 'Fjalla One', sans-serif;
  background: url("http://i.imgur.com/81dxLxI.jpg") no-repeat;
  background-size: cover;
  background-color: black;
  padding-bottom: 0;
  margin: 0px;
  border-radius: 0 !important;
}

.container{
  width: 100%;

}

.jumbotron h1 {
    color:#23211e;
    font-size: 8em;
    text-align: center;
    text-shadow: 3px 3px #FFFFFF;
    width: 100%;
    margin: 0px;
}
.jumbotron h3{
  margin: 0px 0px 20px 0px;
  color:##646568;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px #FFFFFF;
  width: 100%;
}

header .row {
  
}
nav{
  background-color: rgba(0,0,0,.5);

}
nav a {
  font-size: 2em;
  color:#ffffff;
  padding-top: 10px;
  text-align: center;
  text-shadow:2px 2px #000000;
}
nav a :hover {
    background-color: rgba(30,30,30,.5);
    color:#ffffff;
}
section{
    padding: 20px;
}
section h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}
section:nth-child(odd) {

    background: #e3e8ef;
}
section:nth-child(even) {

    background: #c9cfd8;
}
footer {
  background-color: rgb(40,40,40,.3);
}
footer .row{
text-align: left;
}

footer img {
  height: 100px;
  width: 100px;
}
